<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/CSS/style.css" />
        <title>pokedex</title>
    </head>
    <body>
        <header>
            <h1>
                <div class="menu">
                    <% menu.forEach((item) => { %>
                    <a href="<%= item.link %>"><p><%= item.title %></p></a>
                    <% }) %>
                </div>
            </h1>
        </header>
        <main>
            <div><p class="title">Pokedex</p></div>
            <div class="centralizar"><button id="btn" onclick="history.back()">Voltar</button></div>
            <section id="cards">
                <div class="card">
                    <img src="<%= pokedex[id].image %>" alt="" />
                    <h2><%= pokedex[id].id %> - <%= pokedex[id].name %></h2>
                    <p><%= pokedex[id].desc %></p>
                    <p><b>Tipo:</b> <%= pokedex[id].type %></p>
                    <p><b>Altura:</b> <%= pokedex[id].height %></p>
                    <p><b>Peso:</b> <%= pokedex[id].weight %></p>
                    <p><b>Categoria:</b> <%= pokedex[id].cat %></p>
                    <p><b>Habilidade:</b> <%= pokedex[id].hab %></p>
                </div>
            </section>
        </main>
        <footer></footer>
        <script src="/js/script.js"></script>
    </body>
</html>
