<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/CSS/style.css" />
        <title>pokedex</title>
    </head>
    <body>
        <header>
            <h1>
                <div class="menu">
                    <% menu.forEach((item) => { %>
                    <a href="<%= item.link %>"><p><%= item.title %></p></a>
                    <% }) %>
                </div>
            </h1>
        </header>
        <main>
            <div><p class="title">Pokedex</p></div>
            <section>
                <% pokedex.forEach((pokemon) => { %>
                <ul>
                    <li><%= pokemon.name %></li>
                </ul>
                <% }) %>
                <div class="card">
                    <img src="<%= pokedex[x].image %>" alt="" />
                    <h2><%= pokedex[x].name %></h2>
                    <p><%= pokedex[x].desc %></p>
                    <p>Tipo: <%= pokedex[x].type %></p>
                </div>
            </section>
        </main>
        <footer></footer>
        <script src="/js/script.js"></script>
    </body>
</html>
